/** 
* Color
*/

$twittercolor: #1da1f2;
$twitterLightBlue:#71c9f8;

$text-white:#ffffff;
$text-black:#000;
$text-silver:#657786;



/**
*Font-weights
*/

$font-weights:(
    "regular": 400,
    "bold":700
);
    
