<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="../../dist/main.js"></script>
</head>
<body>
    <div>
        
    <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color:#05158e;margin-top:10px;border-radius:4px;padding:0px;"
    >
        <a
        class="navbar-brand"
        href="#"
        data-abc="true"
        style="font-weight:bolder;font-size:90px;color:#ffc107;"
        >SHOWTIME !</a>
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end">
        
        <form class="form-inline my-2 my-lg-0">
            <!-- <FormInput class="searchInput" type="text" placeholder="Search.." @on-handle-keyup="searchMovie"/> -->
            <input
            class="form-control "
            placeholder="Search"
          />
        </form>
        </div>
    </nav>


    <!-- <div v-if="loading">
        <h1 class="loader">loading ....</h1>
        </div>
        <div class="row">
        <div class="col-md-6" v-for="movie in filteredMovies" :key="movie.id">
            <MovieList :list="movie" />
        </div>
        </div>
    </div> -->
</body>
</html>